<h1 class="text-center display-6 my-3">CALCULADORA NOTA D'ACCÉS A LA UNIVERSITAT</h1>

<div class="container">
  <form action="">
    <div class="mb-3">
      <label for="nota_bat" class="form-label">Nota batxillerat</label>
      <input type="number" class="form-control" id="nota_bat" min="0" max="10" step="0.01">
    </div>
    <div class="mb-3">
      <label for="nota_sele_general" class="form-label">Nota PAU general</label>
      <input type="number" class="form-control" id="nota_sele_general" min="0" max="10" step="0.01">
    </div>
    <div class="mb-3">
      <label for="nota_assignatura_1_pau_especifica" class="form-label">Nota assignatura 1 PAU especifica</label>
      <input type="number" class="form-control" id="nota_assignatura_1_pau_especifica" min="0" max="10" step="0.01">
    </div>
    <div class="mb-3">
      <label for="coef_assignatura_1_pau_especifica" class="form-label">Coeficient de ponderació assignatura 1 PAU especifica</label>
      <select class="form-select" id="coef_assignatura_1_pau_especifica" (change)="GetCoefAssignatura1($event)">
        <option selected></option>
        <option value="0.1">0,1</option>
        <option value="0.2">0,2</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="nota_assignatura_2_pau_especifica" class="form-label">Nota assignatura 2 PAU especifica</label>
      <input type="number" class="form-control" id="nota_assignatura_2_pau_especifica" min="0" max="10" step="0.01">
    </div>
    <div class="mb-3">
      <label for="coef_assignatura_2_pau_especifica" class="form-label">Coeficient de ponderació assignatura 2 PAU especifica</label>
      <select class="form-select" id="coef_assignatura_2_pau_especifica" (change)="GetCoefAssignatura2($event)">
        <option selected></option>
        <option value="0.1">0,1</option>
        <option value="0.2">0,2</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary me-2" (click)="MostrarNota()">Calcular</button>
    <button type="reset" class="btn btn-secondary">Esborra tot</button>
  </form>
</div>
<div class="mb-3"></div>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Made by Nilis24. Version 1.0</small>
  </div>
</footer>
